#define REACTOS_VERSION_DLL
#define REACTOS_STR_FILE_DESCRIPTION  "ReactOS User Experience Session Manager"
#define REACTOS_STR_INTERNAL_NAME     "UxSms"
#define REACTOS_STR_ORIGINAL_FILENAME "UxSms.dll"
#include <reactos/version.rc>
